.manage-movies {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h5 { 
    font-weight: 700;
    font-size: 1.5em;
    color: #080533;
    margin-bottom: 10px;
}

.add-movie-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center;
}

.add-movie-form input[type="text"] {
    width: 100%;
    padding: 8px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Add spacing between input boxes */
}

.add-movie-form button {
    margin-top: 10px; /* Add spacing between input boxes and the button */
}

.movie-list {
    display: flex;
    flex-direction: column;
}

.movie {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.movie img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.movie-info h3 {
    margin: 0;
}

.btn {
    padding: 5px 10px;
    cursor: pointer;
}

.btn-add {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-delete {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-edit {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn-schedule {
    background-color: rgb(174, 97, 165);
    color: white;
    border: none;
    border-radius: 5px;

}




